
@model SportsStore.Web_1.Models.ProductListViewModel

    @{
        ViewBag.Title ="Product";
    }

    <h2>Products</h2>
    @foreach (var item in Model.Products)
    {
        Html.RenderPartial("ProductSummary", item); 
    }
<div class="pager">
    @Html.PageLinks(Model.PagingInfo,x=>Url.Action("List",
  new {page=x,category=Model.CurrentCategory}))
</div>
